!/[Aa]ssets/**/*.meta

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Rr]elease/

/[Aa]ssets/[Tt]emp/
/[Aa]ssets/[Tt]emp.meta

[Aa]ssets/TextMesh*Pro/
[Aa]ssets/Plugins/Editor/JetBrains*

ExportedObj/

.vs/
.gradle/
.consulo/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta
*.csproj.meta

*.apk
*.aab
*.obb
*.unitypackage

sysinfo.txt

crashlytics-build.properties
